body{
	background-color: #d8cdd3;
	padding-left:200px; padding-top: 100px; padding-right: 50px;


}
.grid-container {display: grid; grid-template-columns: auto auto; grid-gap: 20px; }
h1{ font-family: 'Dosis', sans-serif; font-size: 72px;}
#title { grid-column: 2; grid-row: 2/4; padding-right: 200px;
	background-color: #e7dce2; 
}

p {font-family: 'Dosis', sans-serif;}
h2 {font-family: 'Dosis', sans-serif;}
ul {font-family: 'Dosis', sans-serif;}